<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
<div id="root">初始内容</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                count: 1
            }
        },
        template: `
          <div>
            <counter v-model="count"/>
          </div>`
    });

    app.component('counter', {
        props: ['modelValue'],
        methods: {
            handleClick(){
                this.$emit('update:modelValue', this.modelValue+3);
            }
        },
        template: `<div @click="handleClick">{{modelValue}}</div>`
    });

    const vm = app.mount('#root');
</script>
</body>
</html>